.myInput{
    width: 200px;
    padding: 10px;
    margin-top: 20px;
    outline: none;
}

.display{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    align-items: center;
}

.isCompleted{
    text-decoration: line-through;
    
}